.dataTables {
  &_paginate {
    margin-top: 10px !important;
  }

  &_info {
    margin-top: 10px !important;
  }

  &_length {
    margin-bottom: 10px !important;
  }

  &_filter {
    display: none;
  }
}
