@model Pager

<form asp-action="Delete" id="deleteForm">
    <input type="hidden" value="@Model.CurrentPage" name="page">
</form>

<script >
        /*global Swal*/
        $(function () {
            $('.delete-category').on('click', async function () {
                const form = $('#deleteForm');
                const productId = $(this).data('id')
                form.attr('action', `/Product/Delete/${productId}`)

                const result = await Swal.fire({
                  title: 'Are you sure?',
                  text: "You won't be able to revert this!",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonText: 'Yes, delete it!'
                })

                if (result && result.isConfirmed) {
                    form.submit()
                }
            })
        })
</script>