@model MVC.Enum.CategorySortOrder

@{
    var modelToString = Model.ToString();
    var result = "";

    var ascIndex = modelToString.IndexOf("ASC", StringComparison.OrdinalIgnoreCase);
    var descIndex = modelToString.IndexOf("DESC", StringComparison.OrdinalIgnoreCase);

    if (ascIndex != -1)
    {
        result = modelToString.Substring(0, ascIndex).Trim();
    }
    else if (descIndex != -1)
    {
        result = modelToString.Substring(0, descIndex).Trim();
    }

    var sortOrderQuery = Context.Request.Query["sortOrder"].ToString();
    var currentPage = Context.Request.Query["page"];
    var searchString = Context.Request.Query["s"];
}

<a asp-action="Index" asp-route-page="@currentPage" asp-route-s="@searchString" asp-route-sortOrder="@Model" class="text-dark">
    @if (!string.IsNullOrEmpty(sortOrderQuery) && sortOrderQuery.Contains(result))
    {
        <i class="fa-duotone fa-sort-@(sortOrderQuery.Contains("Asc") ? "up" : "down")"></i>
    }
    else
    {
        <i class="fa-solid fa-sort"></i>
    }
</a>