@* @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" })) *@
@* { *@
@*     @Html.AntiForgeryToken() *@
@*     const form = $('#__AjaxAntiForgeryForm'); *@
@*     const token = $('input[name="__RequestVerificationToken"]', form).val(); *@
@*     $.ajax({ *@
@*         type: 'POST', *@
@*         url: `/Category/Delete/${categoryId}`, *@
@*         data: { *@
@*             __RequestVerificationToken: token *@
@*         }, *@
@* } *@

@{
    var controllerName = ViewData["ControllerName"] ?? "Home";
}

@model Pager

<form asp-controller="@controllerName" asp-action="Delete" id="deleteForm">
    <input type="hidden" value="@Model.CurrentPage" name="page">
</form>

<script >
        /*global Swal*/
        $(function () {
            $('.delete-button').on('click', async function () {
                const form = $('#deleteForm');
                const itemId = $(this).data('id')
                form.attr('action', `/Admin/@controllerName/Delete/${itemId}`)

                const result = await Swal.fire({
                  title: 'Are you sure?',
                  text: "You won't be able to revert this!",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonText: 'Yes, delete it!'
                })

                if (result && result.isConfirmed) {
                    form.submit()
                }
            })
        })
</script>