@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 test">Welcome!!!</h1>
    <img class="img-fluid w-50 mb-3" src="~/images/gura.jpg" alt="">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>