@model IEnumerable<Category>

@{
    ViewData["Title"] = "Category";

    var successMessage = TempData["SuccessMessage"];
}

<section class="bg-body-tertiary mt-4 pb-3 rounded-bottom shadow-lg">
    <h1 class="bg-body-secondary bg-gradient px-3 py-4 rounded-top text-center">Category List</h1>

    <div class="d-flex justify-content-end px-4 py-2">
        <a asp-action="Upsert" class="btn btn-primary text-decoration-none text-white">
            <i class="fa-plus fa-regular"></i> Create new category
        </a>
    </div>

    <div class="p-4">
        <table id="tblCategory" class="table table-bordered table-striped" style="width: 100%">
            <thead>
            <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Display Order
                </th>
                <th scope="col">
                    Created At
                </th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
        </table>
    </div>
</section>


@section Scripts {
    <partial model="successMessage" name="_NotificationScriptsPartial" />

    <script >
          $(function() {
            loadDataTable();

            $('#tblCategory').on( "click", ".delete-button", async function() {
                const itemId = $(this).data('id')
                const url = `/Admin/Category/Delete/${itemId}`

                const result = await Swal.fire({
                  title: 'Are you sure?',
                  text: "You won't be able to revert this!",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonText: 'Yes, delete it!'
                })

                if (result && result.isConfirmed) {
                   $.ajax({
                        url: url,
                        type: "DELETE",
                        success: function (data) {
                            dataTable.ajax.reload()
                            Swal.fire({
                              icon: 'success',
                              title: 'Successfully!',
                              text: data.message,
                              timer: 1500
                            })
                        }
                    })
                }
            });
          })

          function loadDataTable() {
              dataTable = $('#tblCategory').DataTable({
                  columnDefs: [
                      { orderable: false, targets: 4 }
                    ],
                  ajax: {url: "/admin/category/getall"},
                  columns: [
                      {"render": function ( data, type, full, meta ) {
                           return  meta.row + 1;
                      }},
                      { data: "name", },
                      { data: "displayOrder", "width": "25%" },
                      { data: "createdAt", "width": "25%" },
                      { data: "id",
                        "render": function (data) {
                          return `<div class="d-flex">
                                    <a href="/admin/category/upsert?id=${data}" class="btn btn-secondary fw-semibold me-3 px-4 text-white">
                                        <i class="fa-pen-to-square fa-regular"></i> Edit
                                    </a>

                                    <button class="btn btn-danger delete-button fw-semibold px-4" data-id="${data}">
                                        <i class="fa-regular fa-trash"></i> Delete
                                    </button>
                                  </div>`
                        }
                      },
                  ]
              })
          }
        </script>
}